In [9]:
import psycopg2
import pandas as pd

conexao = psycopg2.connect(database = "ProgramPython",
                          host = "localhost",
                          user = "postgres",
                          password = "xxxxxx",
                          port = "5432")

n_dieta = 0

print('Escolha qual o tipo de dieta você gostaria de obter:')
print('1. Dieta para emagrecer \n'
     '2. Dieta para ganho de massa \n'
     '3. Dieta para se aliementar melhor')

n_dieta = input()

if (int(n_dieta) == 1):
    dieta = pd.read_sql('SELECT * FROM emagrecer', conexao)
    display(dieta)
    
elif (int(n_dieta) == 2):
    dieta = pd.read_sql('SELECT * FROM ganho_massa', conexao)
    display(dieta)
    
else:
    dieta = pd.read_sql('SELECT * FROM saudavel', conexao)
    display(dieta)

Escolha qual o tipo de dieta você gostaria de obter:
1. Dieta para emagrecer
2. Dieta para ganho de massa
3. Dieta para se aliementar melhor
2

C:\Users\koliveira\AppData\Local\Temp\ipykernel_11296\2127588053.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dieta = pd.read_sql('SELECT * FROM ganho_massa', conexao)

   opção         refeição                                          alimentos
0      1    Café da manhã  Omelete com 3 ovos inteiros com 70g de queijo,...
1      1  Lanche da manhã  Shake de proteína com 200ml leite, 1 banana e ...
2      1           Almoço  150g Peito de frango grelhado com 100g batata ...
3      1     Lanche tarde                                      Iogurte grego
4      1            Janta  150g Bife magro com vegetais salteados e 150g ...
5      1             Ceia                                  shake de proteína